{# templates/default/profil.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Accueil{% endblock %}

{% block body %}
    <head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ asset('css/home.css') }}"> 

    </head>
     {% include 'includes/nav_bar/navBar.html.twig' %} 

<article>
        <h1>Bienvenue sur ÉcoPrêt !</h1>
        <p>
            ÉcoPrêt est une plateforme d'économie circulaire en ligne qui vous permet de prêter et d'emprunter du matériel,
            ainsi que de proposer et demander des services au sein d'une communauté engagée.
        </p>
        <h2>- Comment fonctionne ÉcoPrêt ?</h2>
        <p>ÉcoPrêt utilise le florin comme monnaie de référence pour les échanges sur sa plateforme. Le florin facilite l'accès aux offres de prêt et de service. Lors de votre inscription, vous recevrez un certain nombre de florins, que vous pourrez utiliser pour accéder aux offres disponibles. Pour obtenir davantage de florins, vous devrez proposer à d'autres utilisateurs des offres de prêt ou de service. Ces derniers pourront alors en bénéficier en échange d'un certain nombre de florins. </p>


        <figure class="florain">
          <img src="{{ asset('images/florain.png') }}" alt="florain" style="width:20%;">
            <figcaption>Symbole représentant les florins</figcaption>
        </figure>





</div>


</article

    {# Ajoute d'autres sections ou fonctionnalités ici #}

    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}
