{# templates/default/profil.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Accueil{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}

    <div class="container mt-4">
        <h1>Bienvenue sur ÉcoPrêt</h1>
        <p>
            ÉcoPrêt est une plateforme d'économie circulaire en ligne qui vous permet de prêter et d'emprunter du matériel,
            ainsi que de proposer et demander des services au sein d'une communauté engagée.
        </p>
    </div>

    {# Ajoute d'autres sections ou fonctionnalités ici #}

    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}
