{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Envoi du mail de confirmation{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/resetpass.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}
    <div class="container">
        <p>
            S'il existe un compte correspondant à cette adresse email, un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam/indésirables ou<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}
