{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    
    <head>
        <link rel="stylesheet" href="{{ asset('css/resetpass.css') }}">
    </head>

    <div class="container">
        <h1>Bonjour !</h1>
        <p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant :</p>
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
        <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <p>Merci !</p>
    </div>

    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}
