/* public/css/styles.css */

/* Footer */
.footer {
    background-color: #054c04;
    text-align: center;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}
