/* public/css/styles.css */

/* Barre de Navigation */
.navbar {
    background-color: #2c2d2e;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    column-gap: 50%;
}

.navbar-brand a {
    text-decoration: none;
    color: #054c04;
    font-size: 3em;
    font-weight: bold;
    flex:1;
}

.navbar-menu {
    display: flex;
    flex:1;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex:1;
    justify-content: space-around;
}

.nav-item {
    padding:10px 0;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.user-container {
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.connected {
    color: #c45454;
}

.user-fonctionality {
    position: absolute;
    top:100%;
    display:none;
    width:100%;

    background: #61836b;
    font-size:16px;
    
    border-radius: 15px;

    padding:15px;


    flex-direction: column;
    row-gap: 15px;
}

.user-fonctionality a {

    width:100%;

    padding:15px 5px;

    text-align: center;
}

.user-container:hover .user-fonctionality {
    display: flex;
}

.nav-link:hover {
    color: #054c04;
}


