header {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 10px;
    /* margin-left: 1%;
    margin-right: 1%; */
    border-bottom: 3px solid #057a03;
     border-radius: 30px; 
    font-size: large;
    text-decoration: none;
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    align-content: flex-end;
    text-decoration: none;

}
.elemDroite{
    max-width:100px;
    max-height: 100px;
    text-align: center;
    align-self: center;
    margin-left: 2%;
}
.partLeft{
     display: flex;
     /* margin-left: auto;  */
     margin-right: 40px;
     align-items: center;
     text-decoration: none;

}
.text{
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.elemDroite:hover{
    transform: scale(1.1);
    border:2px solid #057a03; ;
    text-decoration: none;

}
.elemMid {
margin: auto;
}
.elemPub{
    max-width:100px;
    max-height: 100px;
    text-align: center;
    background-color: #057a03;
    border: 2px solid #045e02;
    border-radius: 10px; 

}
.elemPub:hover{
    transform: scale(1.1);

}

a:hover{
    text-decoration: none;
}

.menu-deroulant {
    position: relative;
    display: inline-block;
}

.sous {
    display: none;
    position: absolute;
    background-color: #057a03;
    border: 2px solid #045e02;
    color: black;
    border-radius: 10px; 
    z-index: 1;
}

.sous li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-deroulant:hover .sous {
    display: block;
}
.sous li a {
    color: black;
    font-weight: bold;
}
.sous li:hover{
    background-color: #3a8b39;
}