body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-label input {
    margin-right: 5px;
}

.alert-danger ul li{
    color: red;
}





select {
    position: relative;
    width: 200px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

/* Style des options */
select option {
    font-size: 16px; /* Taille de la police */
    padding: 10px; /* Espacement interne */
}

/* Style de l'indicateur de flèche */
select::after {
    content: '\25BC'; /* Code de la flèche vers le bas */
    position: absolute;
    top: 50%;
    right: 10px; /* Espacement à droite */
    transform: translateY(-50%);
}

select:focus {
    outline: none; /* Supprime l'effet de focus */
}

select:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
}

select option:checked {
    background-color: #007bff; /* Couleur de fond de l'option sélectionnée */
    color: #ffffff; /* Couleur du texte de l'option sélectionnée */
}