{# templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Accueil{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}

    <div class="container mt-4">
        {% if {{isSuppr}} %}
            <div>
                Votre abonnement a bien été supprimé
            </div>
        {% else %}
            <div>
                Une erreur à été rencontrée, votre abonnement n'a pas pu etre supprimé
            <div>
        {% endif %}
    </div>

    {# Ajoute d'autres sections ou fonctionnalités ici #}

    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}