{# templates/includes/footer.html.twig #}

<head>
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
</head>

<footer class="footer">
    <p>&copy; 2024 ÉcoPrêt. Projet Universitaire.</p>
</footer>
